BlogPosts.dtd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE BlogPosts [
<!ELEMENT BlogPost (date, title, author, content, scripture, prayer?)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT content (#PCDATA)>
<!ELEMENT scripture (#PCDATA)>
<!ELEMENT prayer (#PCDATA)>
]
